/*
    CABEÇALHO E RODAPÉ
*/
.bg-green{
    background-color: #92C5A8 !important;
    text-transform: uppercase !important;
}
.bg-dark{
    background-color: #4B3621 !important;
    color: #FFF !important;
    display: flex;
    justify-content: center;
}
.bg-green a,
.bg-dark a{
    color: #FFF !important;
    cursor: pointer;
}
.bg-green a:hover{
    color: #EEEBDD !important;
    border-bottom: 3px solid #EEEBDD;
}
.bi{
    margin: 0px 5px;
    font-size: 25px;
}
.text-center a:hover{
    color: #FFF !important;
    border: 0 !important;
}