.container{
    min-height: 83vh;
}
.container-fluid{
    width: 70%;
}

.livro-info{
    margin-bottom: 30px;
    margin-top: 30px;
}
.livro-info--img img{
    min-width: 250px;
}
.livro-info--desc{
    margin-left: 20px;
    margin-top: 20px;
}
.livro-info--desc h1{
    font-size: 15px !important;
}
#description{
    overflow: hidden !important;
}

.livro-info--desc b{
    font-size: 20px !important;
}

.feedbacks-livro{
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    border: none;
    border-radius: 5px !important;
    background: none !important;
}
.card-body{
    border-radius: 5px !important;
}
.feedback{
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.feedback p{
    margin: 0;
}
.user-logo{
    width: 40px;
    height: 40px;
}
.bg-dark-red{
    background-color: #630000;
}
.bg-red{
    background-color: #810000 !important;
}
.bg-light{
    color: #1B1717;
}

@media (max-width: 760px){
    .feedback-info{
        flex-direction: column !important;
    }
    .feedbacks-livro.container-fluid{
        width: 100%;
    }
}