<div class="d-flex flex-column justify-content-center container text-center">
    <h1 class="display-6">Contatos</h1>
    <section class="container-fluid d-flex justify-content-center flex-wrap">
        <div class="container-fluid text-start border-end contatos-info">
            <h2>Endereço</h2>
            <p class="border-bottom">Rua aleatória, 998</p>
            <h2>Telefone</h2>
            <p class="border-bottom">+55 (11) 9 9999-0000</p>
            <h2>E-mail</h2>
            <p class="border-bottom">caiocosta@e-mail.com</p>
        </div>
        <div class="container-fluid text-center border-start contatos-info">
            <h2>Nos envie uma mensagem</h2>
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="contatoMsg" placeholder="Digite sua Mensagem" rows="3" required></textarea>
                </div>
                <button class="btn btn-outline-success">Enviar</button>
            </form>
        </div>
    </section>
</div>