.navbar-brand{
  padding-bottom: 0 !important;
}
.bg-light-green{
    background-color: #FFF;
    color: #7C8763 !important;
}
.bg-green{
    background-color: #80C7B8 !important;
    text-transform: uppercase !important;
}
.bg-green a,
.bg-green h1{
    color: #F5F5F5 !important;
    cursor: pointer;
}
.bg-green a:hover,
.bg-green .active{
    color: #2E8B57 !important;
    border-bottom: 3px solid #2E8B57;
}
.btn-light{
    color: #80C7B8 !important;
    margin-right: 10px;
}
.btn-outline-light{
  padding: 0px !important;
  margin: 0px !important;
  color: #FFF !important;
  background-color: #80C7B8;
  border: none;
}
.btn-outline-light p:hover,
.btn-outline-light i:hover{
  color: #2E8B57 !important;
}
.btn-outline-light p{
    margin: 0 5px;
}
.bi{
    margin: 0px 5px;
    font-size: 25px;
}

.user-logo{
    width: 40px;
    height: 40px;
}
