/*
    CABEÇALHO E RODAPÉ
*/
.bg-red{
    background-color: #810000 !important;
    text-transform: uppercase !important;
}
.bg-dark{
    color: #FFF !important;
    display: flex;
    justify-content: center;
}
.bg-red a,
.bg-red h1,
.bg-dark a{
    color: #FFF !important;
    cursor: pointer;
}
.bg-red a:hover,
.bg-red .active{
    color: #EEEBDD !important;
    border-bottom: 3px solid #EEEBDD;
}
.user-logo{
    width: 40px;
    height: 40px;
}
.btn-outline-light:hover{
    color: #fff !important;
}
.btn-outline-light p{
    margin: 0 5px;
}
.bi{
    margin: 0px 5px;
    font-size: 25px;
}
.text-center a:hover{
    color: #FFF !important;
    border: 0 !important;
}

/*
    BACKGROUND DO CATÁLOGO
*/
.bg-dark-red{
    background-color: #630000;
}