*{
    color: #000;
}
.bg-green{
  background-color: #80C7B8 !important;
}
p, h2{
  color: #2E8B57;
}
.container{
    min-height: 83vh;
}
.user-nav{
  width: 100%;
  margin: 0px 20px !important;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0px !important;
}
.user-nav li{
  list-style: none !important;
  height: 100%;
  cursor: pointer;
}
.user-nav li:hover,
.active{
  color: #FFF;
  border-bottom: 1px solid #2E8B57;
  background-color: #80C7B8;
}
.image-area{
    width: 100px !important;
    height: 100px;
    margin-right: 25px;
    padding-left: 20px;
}
.image-area img{
    width: 100px;
    height: 100px;
}
.btn{
  background-color: #2E8B57 !important;
    margin: 10px;
    color: #FFF;
}

.feedbacks-livro{
  margin-top: 30px;
  margin-bottom: 30px;
}
.card{
  border: none;
  border-radius: 5px !important;
  background: none !important;
}
.feedback{
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.feedback p{
  color: #000;
  margin: 0;
}
.feedback-info a{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.feedback-info a:hover{
  color: #2E8B57;
}
.comentario-info{
border: none;
outline: none;
resize: none;
color: white;
width: 100%;
}
.bi-hand-thumbs-up, .novo-comentario .bi-star, .novo-comentario .bi-star-fill, .bi-hand-thumbs-up-fill, .bi-hand-thumbs-down, .bi-hand-thumbs-down-fill{
  cursor: pointer;
}
.user-logo{
  width: 40px;
  height: 40px;
}
