<div class="container">
    <div style="height: 30vh;" class="d-flex align-items-center flex-wrap">
        <div style="flex: 1; height: 100%;" class="d-flex flex-column border align-items-center">
            <div class="image-area">
                <img src="../../assets/{{ user.foto }}"/>
            </div>
            <ul>
                <li>Feedbacks</li>
                <li>Informações</li>
            </ul>
        </div>
        <div style="margin-top: 100px !important; flex: 3;" class="d-flex flex-column m-auto">
            <h2>Dados Pessoais</h2>
            <div class="livro-info--desc d-flex flex-column flex-grow-1 text-center border">
                    <h3 class="m-2"><p style="width: 100%; text-align: start;">Nome:</p> {{ user.nome }} </h3>
                    <h3 class="m-2"><p style="width: 100%; text-align: start;"> Usuário:</p> {{ user.usuario }}</h3>
                    <h3 class="m-2"><p style="width: 100%; text-align: start;"> E-mail:</p> {{ user.email }}</h3>
                    <h3 class="m-2"><p style="width: 100%; text-align: start;"> Telefone:</p> {{ user.tel }}</h3>
                <div>
                    <a class="btn btn-outline-light" *ngIf="botaoEditar" routerLink="edit">Editar Informações</a>
                </div>
            </div>
        </div>
    </div>
</div>





<router-outlet></router-outlet>
