.container{
    color: #000;
    min-height: 83vh;
}
form{
    background-color: #d9d9d9;
}
h1{
    margin-bottom: 30px;
}
.bg-red{
    background-color: #2E8B57;
}
.mb-3 input{
    border: none;
    border-bottom: 1px solid #bbb;
    color: #fff;
    text-align: center;
    outline: none !important;
}
.mb-3 input::placeholder{
    font-size: 20px;
    color: #bbb;
}
.form .container-fluid{
    width: 50%;
}