.container{
    min-height: 83vh;
    padding: 0 !important;
}
.container h1{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #4B3621;
    font-size: 35.4px;
    text-align: justify;
}

/*
    Input de pesquisa
*/
.container-fluid{
    width: 100% !important;
    padding: 0 !important;
}
.container-fluid form{
    padding-bottom: 15px;
}
.form-control{
    height: 35px;
}
.btn-outline-success{
    height: 35px;
    color: #4B3621 !important;
    border-color: #4B3621 !important;
}
.btn-outline-success:hover{
    background-color: #4B3621;
    color: #fff !important;
}

/*
    Catálogo de Livros
*/
.container .container{
    justify-content:space-around !important;
}
.bg-dark{
    background-color: #92C5A8 !important;
}
.livro-info{
    margin: 50px 15px;
    padding: 15px 5px;
    min-height: 230px;
    width: 15%;
    box-shadow: 0px 0px 10px #aaa;
    transition-duration: 300ms;
    transform-origin: 0% 0%;
}
/*.livro-info:hover{
    animation-name: widthDiv;
    animation-duration: 300ms;
    width: 30%;
}
#livroTeste:hover{
    animation-name: widthDiv;
    animation-duration: 300ms;
    width: 30%;
}*/
.livro-info a img{
    width: 65%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}
.livro-info--title{
    height: 50px;
    margin: -15px -5px;
    margin-top: 15px;
    padding: 10px 5px;
}
.livro-info--title h2{
    color: #FFF !important;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.pagination .btn{
    margin-top: 15px;
    margin-bottom: 20px;
}

@keyframes widthDiv{
    from{width: 20%;}
    to {width: 30%;}
}

@media (max-width: 770px){
    .livro-info{
        width: 50%;
    }
    .container-fluid{
        width: 80% !important;
    }
}
