<div class="container d-flex flex-column justify-content-center">
    <div class="livro-info d-flex justify-content-center container-fluid">
        <img src="https://m.media-amazon.com/images/I/51qnfeR7uCL.jpg" class="img-fluid"/>
        <div class="livro-info--desc d-flex flex-column flex-grow-1">
            <h1>Título</h1>
            <h1>Autor</h1>
            <h1>Gênero</h1>
            <h1>Resumo</h1>
        </div>
    </div>
    <div class="feedbacks-livro container-fluid">
        <div class="card shadow-lg">
            <div class="card-header bg-red">
              Feedbacks de leitores
            </div>
            <div class="card-body bg-dark-red">
                <div class="feedback card shadow-lg">
                    <div class="card-body bg-dark d-flex">
                        <div class="user-logo rounded-circle bg-light"></div>
                        <input class="bg-dark" id="comment" type="text" placeholder="Digite sua mensagem"/>
                        <a class="send-icon rounded-circle bg-red d-flex align-items-center"><i class="bi bi-send"></i></a>
                    </div>
                </div>
                <div class="feedback card shadow-lg">
                    <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                      <div class="user-info d-flex align-items-center">
                        <div class="user-logo rounded-circle bg-dark"></div>
                        <p>Nome de usuário</p> 
                      </div>
                      <p>13/05/2022</p> 
                    </div>
                    <div class="card-body bg-dark">
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque orci, ullamcorper ut venenatis quis, dictum vel nisl. Duis accumsan mi vel neque mollis tempor. Aenean in nisl interdum, laoreet nisl sit amet, tristique risus. Curabitur aliquam, tellus sit amet suscipit egestas, lectus nisl tempor tellus, commodo egestas lorem sapien eget leo.</p>
                    </div>
                </div>
                <div class="feedback card shadow-lg">
                    <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                      <div class="user-info d-flex align-items-center">
                        <div class="user-logo rounded-circle bg-dark"></div>
                        <p>Nome de usuário</p> 
                      </div>
                      <p>13/05/2022</p> 
                    </div>
                    <div class="card-body bg-dark">
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque orci, ullamcorper ut venenatis quis, dictum vel nisl. Duis accumsan mi vel neque mollis tempor. Aenean in nisl interdum, laoreet nisl sit amet, tristique risus. Curabitur aliquam, tellus sit amet suscipit egestas, lectus nisl tempor tellus, commodo egestas lorem sapien eget leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
