.container{
    min-height: 83vh;
}
.container-fluid{
    width: 70%;
}

.livro-info{
    margin-bottom: 30px;
    margin-top: 30px;
}
.livro-info--desc{
    margin-left: 20px;
    margin-top: 20px;
}

.feedbacks-livro{
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    border: none;
    border-radius: 5px !important;
    background: none !important;
}
.card-body{
    border-radius: 5px !important;
}
.feedback{
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.feedback p{
    margin: 0;
}
.user-logo{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.bg-dark-red{
    background-color: #630000;
}
.bg-red{
    background-color: #810000 !important;
}
.bg-light{
    color: #1B1717;
}

#comment{
    border: none;
    border-bottom: 1px solid #BBB;
    flex: 1;
    outline: none;
    color: #fff;
}
.send-icon{
    padding: 0px 10px;
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}
.send-icon:hover{
    color: #810000;
    background-color: #fff !important;
}

@media (max-width: 760px){
    .feedback-info{
        flex-direction: column !important;
    }
    .feedbacks-livro.container-fluid{
        width: 100%;
    }
}