<div class="container d-flex flex-column justify-content-center" *ngIf="livro">
    <div class="livro-info d-flex justify-content-center container-fluid">
        <div class="livro-info--img d-flex align-items-start">
          <img src="{{ livro.imageLinks != null ? livro.imageLinks.smallThumbnail : 'https://i.ibb.co/bFQf7sd/livro-default-foto.jpg'}}" />
        </div>
        <div class="livro-info--desc d-flex flex-column flex-grow-1">
            <h1><b>Título:</b> {{ livro.title }} </h1>
            <h1><b>Autores:</b> {{ livro.author }} </h1>
            <h1><b>Gênero:</b> {{ livro.categories }} </h1>
            <h1 id="description"><b>Resumo:</b> <p [innerHTML]="livro.description | slice:0:limiteCaracter"></p> </h1>
            <div *ngIf="limitado" class="show-more d-flex justify-content-center"><a (click)="mostrarMais()" class="btn btn-outline-light">Mostrar Mais</a></div>
            <div *ngIf="!limitado" class="show-more d-flex justify-content-center"><a (click)="mostrarMais()" class="btn btn-outline-light">Mostrar Menos</a></div>
        </div>
    </div>
    <div class="feedbacks-livro container-fluid">
        <div class="card shadow-lg">
            <div class="card-header bg-red">
              Feedbacks de leitores
            </div>
            <div class="card-body bg-dark-red" *ngIf="user != undefined">
              <div class="feedback card shadow-lg">
                <div>
                  <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                    <div class="user-info d-flex align-items-center">
                      <div class="user-logo rounded-circle bg-dark"> <img class="user-logo rounded-circle" src="../../../assets/{{ user.foto }}" alt=""> </div>
                      <p>{{ user.nome }}</p>
                    </div>
                  </div>
                  <div class="card-body bg-dark">
                    <textarea name="" id="" cols="100%" rows="10"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let user of users">
              <div *ngFor="let comment of comments">
                <div class="card-body bg-dark-red" *ngIf="comment.livroId == id && comment.userId == user.usuario">
                    <div class="feedback card shadow-lg">
                        <div>
                          <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                            <div class="user-info d-flex align-items-center">
                              <div class="user-logo rounded-circle bg-dark"> <img class="user-logo rounded-circle" src="../../../assets/{{ user.foto }}" alt=""> </div>
                              <p>{{ user.nome }}</p>
                            </div>
                            <p>{{ comment.data }}</p>
                          </div>
                          <div class="card-body bg-dark">
                            <p class="card-text">{{ comment.descricao }}</p>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
