<div class="container d-flex flex-column justify-content-center" *ngIf="livro">
    <div class="livro-info rounded d-flex justify-content-center container-fluid">
        <div class="livro-info--img d-flex align-items-start">
          <img src="{{ livro.imageLinks != null ? livro.imageLinks.smallThumbnail : 'https://i.ibb.co/bFQf7sd/livro-default-foto.jpg'}}" />
        </div>
        <div class="livro-info--desc d-flex flex-column flex-grow-1">
            <h1><b>Título:</b> {{ livro.title }} </h1>
            <h1><b>Autores:</b> {{ livro.author }} </h1>
            <h1><b>Gênero:</b> {{ livro.categories }} </h1>
            <h1 id="description"><b>Resumo:</b> <p [innerHTML]="livro.description | slice:0:limiteCaracter"></p> </h1>
            <div *ngIf="limitado" class="show-more d-flex justify-content-center"><a (click)="mostrarMais()" class="btn btn-outline-light">Mostrar Mais</a></div>
            <div *ngIf="!limitado" class="show-more d-flex justify-content-center"><a (click)="mostrarMais()" class="btn btn-outline-light">Mostrar Menos</a></div>
        </div>
    </div>
    <div class="feedbacks-livro container-fluid">
        <div class="card shadow-lg">
            <div class="card-header bg-green">
              Feedbacks de leitores
            </div>
            <div class="card-body bg-dark-grey" *ngIf="user != undefined">
              <div class="feedback card shadow-lg m-auto">
                <div>
                  <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                    <div class="user-info d-flex align-items-center">
                      <div class="user-logo rounded-circle bg-dark"> <img class="user-logo rounded-circle" src="../../../assets/{{ user.foto }}" alt=""> </div>
                      <p>{{ user.nome }}</p>
                    </div>
                  </div>
                  <div class="card-body bg-light novo-comentario">
                    <textarea [(ngModel)]="newFeedback" name="comentarioInfo" class="bg-light comentario-info" rows="5"></textarea>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <b>Avaliação: </b>
                        <i (click)="mostrarEstrela(0)" *ngIf="!estrelaDisplay[0]" class="bi m-1 bi-star"></i>
                        <i (click)="esconderEstrela(0)" *ngIf="estrelaDisplay[0]" class="bi m-1 bi-star-fill"></i>

                        <i (click)="mostrarEstrela(1)" *ngIf="!estrelaDisplay[1]" class="bi m-1 bi-star"></i>
                        <i (click)="esconderEstrela(1)" *ngIf="estrelaDisplay[1]" class="bi m-1 bi-star-fill"></i>

                        <i (click)="mostrarEstrela(2)" *ngIf="!estrelaDisplay[2]" class="bi m-1 bi-star"></i>
                        <i (click)="esconderEstrela(2)" *ngIf="estrelaDisplay[2]" class="bi m-1 bi-star-fill"></i>

                        <i (click)="mostrarEstrela(3)" *ngIf="!estrelaDisplay[3]" class="bi m-1 bi-star"></i>
                        <i (click)="esconderEstrela(3)" *ngIf="estrelaDisplay[3]" class="bi m-1 bi-star-fill"></i>

                        <i (click)="mostrarEstrela(4)" *ngIf="!estrelaDisplay[4]" class="bi m-1 bi-star"></i>
                        <i (click)="esconderEstrela(4)" *ngIf="estrelaDisplay[4]" class="bi m-1 bi-star-fill"></i>
                      </div>
                      <button (click)="enviarFeedback()" class="btn btn-light"> <i class="bi bi-send-fill m-auto"></i> </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let user of users">
              <div *ngFor="let comment of comments; ; let i = index">
                <div class="card-body bg-dark-grey" *ngIf="comment.livroId == id && comment.userId == user.usuario">
                    <div class="feedback card shadow-lg m-auto">
                        <div>
                          <div class="feedback-info card-header bg-light d-flex justify-content-between align-items-center">
                            <div class="user-info d-flex align-items-center">
                              <div class="user-logo rounded-circle bg-dark"> <img class="user-logo rounded-circle" src="../../../assets/{{ user.foto }}" alt=""> </div>
                              <p>{{ user.nome }}</p>
                            </div>
                            <p>{{ comment.data | date: 'dd/MM/yyyy HH:mm' }}</p>
                          </div>
                          <div class="card-body bg-light">
                            <p class="card-text">{{ comment.descricao }}</p>
                            <div class="d-flex align-items-center">
                              <b style="margin-right: 5px;" >Avaliação: </b>
                              <div *ngFor="let estrela of comment.estrelas">
                                <i *ngIf="estrela == false" class="bi m-1 bi-star"></i>
                                <i *ngIf="estrela == true" class="bi m-1 bi-star-fill"></i>
                              </div>
                              <div class="d-flex m-2 align-items-center">
                                <p style="margin-left: 15px !important;" class="m-1">{{ comment.curtidas }}</p>
                                <i [style.display] = "curtido[i]  ? 'none' : 'block'" (click)="handleGostei(comment.id, 'gostei', i)" class="bi btn-gostei bi-hand-thumbs-up fs-5 m-1"></i>
                                <i [style.display] = "!curtido[i]  ? 'none' : 'block'" (click)="handleGostei(comment.id, 'gostei', i)" class="bi btn-gostei bi-hand-thumbs-up-fill fs-5 m-1"></i>
                                <p style="margin-left: 15px !important;" class="m-1">{{ comment.naoGostei }}</p>
                                <i [style.display] = "naoGostei[i]  ? 'none' : 'block'" (click)="handleGostei(comment.id, 'naoGostei', i)" class="bi btn-gostei bi-hand-thumbs-down fs-5 m-1"></i>
                                <i [style.display] = "!naoGostei[i]  ? 'none' : 'block'" (click)="handleGostei(comment.id, 'naoGostei', i)" class="bi btn-gostei bi-hand-thumbs-down-fill fs-5 m-1"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
