<div class="container d-flex flex-column text-center justify-content-center">
    <h1>Faça seu cadastro gratuito!</h1>
    <form>
        <div class="mb-3 container-fluid">
            <input type="text" class="form-control bg-red" placeholder="Nome Completo" autofocus required><br/>
            <input type="text" class="form-control bg-red" placeholder="Nome de Usuário" required><br/>
            <input type="email" class="form-control bg-red" placeholder="E-mail" required><br/>
            <input type="tel" class="form-control bg-red" placeholder="Telefone" required><br/>
            <input type="password" class="form-control bg-red" placeholder="Senha" required><br/>
            <input type="password" class="form-control bg-red" placeholder="Confirmar Senha" required>
        </div>
        <button class="btn btn-outline-light">Enviar</button>
    </form>
</div>