*{
    color: #000;
}
h1{
    color: #2E8B57;
    text-align: center;
}
.container-fluid{
    width: 100%;
    min-height: 83vh;
    text-align: justify;
}
.container-fluid p{
    margin: 0;
    padding-bottom: 25px;
}
.container-fluid h1{
    padding-top: 25px;
}